<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="false" use-expressions="true" disable-url-rewriting="true">
        <intercept-url pattern="/admin/user*" access="hasRole('MANAGER')"/>
        <intercept-url pattern="/admin/home" access="hasAnyRole('MANAGER', 'STAFF')"/>

        <access-denied-handler error-page="/admin/denied"/>
        <form-login login-page="/auth/login"
                    username-parameter="j_username"
                    password-parameter="j_password"
                    login-processing-url="/j_spring_security_check"
                    authentication-success-handler-ref="customSuccessHandler"
                    authentication-failure-url="/auth/login?message=login_wrong"/>
        <session-management invalid-session-url="/auth/login"/>

        <logout logout-success-url="/auth/login"
                delete-cookies="JSESSIONID" invalidate-session="true"/>

    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="bcryptEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <beans:bean id="customUserDetailsService" class="com.laptrinhjavaweb.service.impl.CustomUserDetailsService"/>
    <beans:bean id="customSuccessHandler" class="com.laptrinhjavaweb.security.CustomSuccessHandler"/>

</beans:beans>